.container {
  width: 600px;
  margin: 0px auto;
}

.container .form {
  width: 600px;
}

.container .form .options{
  width: 400px;
  float: left;
}

.container .form .options .contenedor-interno{
  padding: 12px;
  margin: 12px;
  width: 90%;
}

.container .form .options .seleccionar{
  height: 200px;
  display: grid;
  padding-bottom: 0px;
}

.container .form .options .seleccionar .tipos select{
  width: 200px;
}


.container .form .options .seleccionados{
  height: 210px;
  overflow-y: scroll;
  resize: none;
  border: 1px rgb(183, 180, 180) solid;
}

.container .form .options .seleccionados div{
  display: block;
}

.container .form .buttons{
  margin-left: 450px;
  width: 150px;
  padding-top: 100px;
}

.container .form .buttons button{
  width: 80px;
  margin: 10px 0px;
  display: block;
}
